.container {
  margin: 80px auto 20px auto;
  padding: 20px;
}

.App,
.Weather {
  font-family: sans-serif;
}

.Temp .temperature {
  font-size: 100px;
}

.Temp .unit,
.Temp .line {
  font-size: 25px;
  padding-top: 30px;
}

.Temp .unit:hover {
  color: brown;
  cursor: pointer;
}

footer a {
  color: brown;
  opacity: 0.7;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
