.container {
  margin: 80px auto 20px auto;
  padding: 20px;
}

.App,
.Condition,
.Search,
.Temp {
  font-family: sans-serif;
}

.Temp .temperature {
  font-size: 100px;
}

.Temp .unit,
.Temp .line {
  font-size: 25px;
  padding-top: 30px;
}

.Temp .unit:hover {
  color: brown;
  cursor: pointer;
}
